@model Siged.Domain.TasksEmployee;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="es">
    
    <body>
        <main>

        <h1>Prueba asignar tareas</h1>

        <!-- Campo de búsqueda -->
        <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar en la tabla...">

        <!-- Botón Agregar Tarea -->
        <button class="btn btn-primary mb-3" id="btnAddTask">Agregar Tarea</button>

            <div id="taskList">
                <!-- Aquí se cargará dinámicamente la tabla de tareas -->
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre Tarea</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Finalización</th>
                            <th>Empleado</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se insertarán dinámicamente las filas de las tareas -->
                    </tbody>
                </table>
            </div>

        <div class="modal fade" id="createTaskModal" aria-hidden="true" tabindex="-1">
                <!-- Modal para Editar Tarea-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTaskModalLabel">Crear Nueva Tarea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="createTaskForm">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="hidden" asp-for="User.FullName" value="@User.Identity.Name" />
                            }
                            <div class="col-md-3">
                                <label for="NameTask" class="control-label">Nombre de la Tarea</label>
                                <input id="nameTask" class="form-control" />
                            </div>

                            <div class="col-md-3">
                                <label for="DueDate" class="control-label">Fecha de Finalización</label>
                                <input id="dueDate" class="form-control" />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="TaskStatusDescription" class="control-label">Estatus de la Tarea</label>
                                <input type="date" id="taskStatusDescription" value="Pendiente" class="form-control" />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="userId">Cargo</label>
                                <select class="form-control" id="userId" name="userId" required>
                                    <option value="">Seleccione un Cargo</option>
                                    @foreach (var user in ViewBag.Users)
                                    {
                                        <option value="@user.UserId">@user.FullName</option>
                                    }
                                </select>
                            </div>

                            <div class="modal-footer">
                                <input type="button" value="Guardar"id="btnSaveTask" class="btn btn-success" />
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <div class="modal fade" id="editTaskModal" hidden tabindex="-1">
            <!-- Modal para Editar Tarea-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel">Editar Tarea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editTaskForm" method="post">
                        <input type="hidden" id="editTaskId"/>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <input type="hidden" asp-for="User.FullName" value="@User.Identity.Name" />
                        }
                        <div class="col-md-3">
                            <label for="NameTask" class="control-label">Nombre de la Tarea</label>
                            <input id="editNameTask" class="form-control" />
                        </div>

                        <div class="col-md-3">
                            <label for="DueDate" class="control-label">Fecha de Finalización</label>
                            <input id="editDueDate" class="form-control" />
                        </div>

                        <div class="modal-footer">
                            <input type="button" value="Modificar" id="btnModifyTask" class="btn btn-success" />
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        </main>


        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script>

        var fecha = new Date();

        document.getElementById("taskDate").value = fecha.getFullYear() + "-" + fecha.getMonth() + "-" + fecha.getDay() + " " + fecha.getHours() + ":" + fecha.getMinutes() + ":" + fecha.getSeconds();
        console.log(document.getElementById("taskDate").value);

        document.addEventListener("DOMContentLoaded", function (event) {
            loadTasks();
        });

        // Función para cargar tareas mediante AJAX
        function loadTasks() {
            $.ajax({
                url: '/TasksEmployee/GetAllTask',
                type: 'GET',
                success: function (response) {
                    console.log(response.value[0].nameTask) // Log the response to check for errors
                    console.log(response)
                    if (response.status) {
                        var tasks = response.value;
                        var taskListHtml = '';
                        tasks.forEach(function (task) {
                            taskListHtml += '<tr>' +
                                '<td>' + task.taskId + '</td>' +
                                '<td>' + task.nameTask + '</td>' +
                                '<td>' + task.startDate + '</td>' +
                                '<td>' + task.dueDate + '</td>' +
                                '<td>' + task.userDescription + '</td>' +
                                '<td>' + task.taskStatusDescription + '</td>' +
                                '<td>' +
                                '<button class="btn btn-sm btn-warning btn-custom btn-edit" data-taskId="' + task.taskId + '">Editar</button>' +
                                '<button class="btn btn-sm btn-danger btn-custom btn-delete" data-taskId="' + task.taskId + '">Eliminar</button>' +
                                '</td>' +
                                '</tr>';
                        });
                        $('#taskList tbody').html(taskListHtml); // Inserta las filas de usuarios en la tabla
                    } else {
                        $('#taskList').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        //Evento para registrar tarea
        $('#btnSaveTask').click(function () {
            var task = {
                nameTask: $('#NameTask').val(),
                dueDate: $('#DueDate').val(),
                userId: $('#userId').val(),
            };
            Register(task);
        });

        function Register(task)
        {
            $.ajax({
                url: '/TasksEmployee/Register',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(task),
                success: function (response) {
                    console.log(response); // Log the response to check for errors
                    if (response.status) {
                        // Mostrar mensaje de éxito
                        showMessage('Tarea registrada con éxito.', true);
                        // Limpiar campos del formulario
                        $('#addUserForm')[0].reset();
                        // Actualizar la lista de tareas después de registrar
                        loadTask();
                        $('#createTaskModal').modal('hide'); // Ocultar el modal después de registrar
                    } else {
                        alert('Error al registrar usuario: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    showMessage('Error al registrar tarea.', false);
                }
            });
        }

        //Evento para modificar tarea
        $('#btnModifyTask').click(function () {
            var task = {
                nameTask: $('#NameTask').val(),
                dueDate: $('#DueDate').val(),
                userId: $('#userId').val(),
            };
            Register(task);
        });

        function update(task) {
            $.ajax({
                url: '/TasksEmployee/EditTask',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(task),
                success: function (response) {
                    console.log(response); // Log the response to check for errors
                    if (response.status) {
                        // Mostrar mensaje de éxito
                        showMessage('Tarea modificada con éxito.', true);
                        // Limpiar campos del formulario
                        $('#editTaskForm')[0].reset();
                        // Actualizar la lista de tareas después de registrar
                        loadTask();
                        $('#editTaskModal').modal('hide'); // Ocultar el modal después de editar
                    } else {
                        alert('Error al registrar tarea: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    showMessage('Error al modificar la tarea.', false);
                }
            });
        }

        // Función para eliminar usuario
        function deleteTask(taskId) {
            if (confirm('¿Estás seguro de eliminar este tarea?')) {
                $.ajax({
                    url: '/User/DeleteTask?id=' + taskId,
                    type: 'DELETE',
                    success: function (response) {
                        if (response.status) {
                            showMessage('Tarea eliminado exitosamente.', true);
                            loadTasks(); // Recargar lista de tareas después de eliminar
                        } else {
                            alert('Error al eliminar tarea: ' + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        showMessage('Error al eliminar tarea.', false);
                    }
                });
            }
        }

        // Función para editar tarea
        function getTaskById(taskId) {
            $.ajax({
                url: '/TasksEmployee/GetPendingTaskById?userId=' + taskId,
                type: 'GET',
                success: function (response) {
                    if (response.status) {
                        var user = response.value;
                        $('#editTaskId').val(task.TaskId);
                        $('#TaskStatusId').val(task.TaskStatusId);
                        $('#editTaskModal').modal('show');
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        // Al hacer clic en el botón de eliminar usuario
        $('#taskList').on('click', '.btn-delete', function () {
            var taskId = $(this).data('TaskId');
            // Confirmar antes de eliminar
            if (confirm('¿Estás seguro de que deseas eliminar esta tarea?')) {
                deleteTask(taskId);
            }
        });

        // Al hacer clic en el botón de editar tarea
        $('#taskList').on('click', '.btn-delete', function () {
            var taskId = $(this).data('TaskId');
            getTaskById(taskId);
        });

        //<!--Evento para abrir modal para registrar una tarea-->
        $("#btnAddTask").on('click', function () {
            $("#createTaskModal").modal('show')
        });

        // Evento para buscar en la tabla
        $('#searchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#taskList tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        </script>

    </body>
</html>