@model Siged.Domain.TasksEmployee;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Prueba tareas hechas</h1>
<html lang="es">
<head>

</head>
<body>
    <div id="taskList">
        <!-- Aquí se cargará dinámicamente la tabla de tareas -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Tarea</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Finalización</th>
                    <th>Empleado</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán dinámicamente las filas de las tareas -->
            </tbody>
        </table>

        <div class="modal fade" id="editDoneTaskModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editDoneTaskModalLabel">Editar Tarea Hecha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editTaskStateForm" method="post">
                            <input type="hidden" id="TaskId" />
                            <input type="hidden" id="UserId" value="@ViewBag.UserId" />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="hidden" asp-for="User.FullName" value="@User.Identity.Name" />
                            }

                            <div class="form-group col-md-12">
                                <label for="TaskStatusId" class="control-label">Estatus de la Tarea</label>
                                <select class="form-control" name="TaskStatusId" id="TaskStatusId" required>
                                    <option value="">Seleccione el Estatus</option>
                                    <option value="1">Pendiente</option>
                                    <option value="2">Hecha</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="modifyTaskState" value="Modificar" class="btn btn-success" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var userId = $("#UserId").val();
            loadTasks(userId);
        });

        // Función para cargar tareas mediante AJAX
        function loadTasks(userId) {



            $.ajax({

                url: '/TasksEmployee/GetDoneTaskByUser?userId=' + userId,
                type: 'GET',
                success: function (response) {
                    console.log(response); // Log the response to check for errors
                    if (response.status) {
                        var tasks = response.value;
                        var taskListHtml = '';
                        tasks.forEach(function (task) {
                            taskListHtml += '<tr>' +
                                '<td>' + task.taskId + '</td>' +
                                '<td>' + task.nameTask + '</td>' +
                                '<td>' + task.startDate + '</td>' +
                                '<td>' + task.dueDate + '</td>' +
                                '<td>' + task.userDescription + '</td>' +
                                '<td>' + task.taskStatusDescription + '</td>' +
                                '<td>' +
                                '<button class="btn btn-sm btn-warning btn-custom btn-edit" data-userId="' + task.userId + '" data-taskStatusId=' + task.taskStatusId + '>Editar</button>' +
                                '</td>' +
                                '</tr>';
                        });
                        $('#taskList tbody').html(taskListHtml); // Inserta las filas de usuarios en la tabla
                    } else {
                        $('#taskList').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        // Al hacer clic en el botón de editar tareausuario en la tabla
        $('#taskList').on('click', '.btn-edit', function () {
            var userId = $(this).data('userid');
            getDoneTaskById(userId);
        });

        function getDoneTaskById(userId) {
            $.ajax({
                url: '/TasksEmployee/GetDoneTaskByUser?userId=' + userId,
                type: 'GET',
                success: function (response) {
                    if (response.status) {
                        var task = response.value[0];
                        document.getElementById('TaskId').value = task.taskId;
                        document.getElementById('TaskStatusId').value = task.taskStatusId;
                        $('#editDoneTaskModal').modal('show');
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        $('#modifyTaskState').on('click', function () {
            var task = {
                taskId: $('#TaskId').val(),
                taskStatusId: $('#TaskStatusId').val(),
            }
            UpdateTaskState(task);
        });

        function UpdateTaskState(task) {
            $.ajax({
                url: '/TasksEmployee/EditTaskState',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(task),
                success: function (response) {
                    console.log(response); // Log the response to check for errors
                    if (response.status) {
                        // Mostrar mensaje de éxito
                        alert('Tarea modificada con éxito.', true);
                        // Limpiar campos del formulario
                        $('#editTaskStateForm')[0].reset();
                        // Actualizar la lista de tareas después de registrar
                        loadTasks();
                        $('#editDoneTaskModal').modal('hide'); // Ocultar el modal después de editar
                    } else {
                        alert('Error al registrar tarea: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('Error al modificar la tarea.', false);
                }
            });
        }

    </script>
</body>
</html>