@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-image: url('https://st2.depositphotos.com/1001599/43046/v/450/depositphotos_430460192-stock-illustration-sign-page-abstract-concept-vector.jpg');
            background-size: 50%;
            background-position: left;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
        }

        .card {
            border: none;
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .card-body-overlay {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 15px;
            padding: 30px;
            margin: 20px;
        }

        .login-form {
            margin: auto;
        }

        @@media (min-width: 768px) {
            .login-form {
                max-width: 350px;
                margin-right: 150px;
            }

            .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
            }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row justify-content-end mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body card-body-overlay login-form">
                        <h3 class="card-title text-center mb-4">Iniciar Sesión</h3>
                        <form id="frmIniciarSesion" method="post">
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Correo" required name="correo" id="correo" />
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="password" placeholder="Contraseña" required name="clave" id="clave" />
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary btn-block" type="button" onclick="iniciarSesion()">Iniciar Sesión</button>
                            </div>
                            <div id="mensajeError" class="form-group"></div>
                            <p class="register-link text-center">¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")">¡Regístrate!</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function iniciarSesion() {
            var correo = $("#correo").val();
            var clave = $("#clave").val();

            $.ajax({
                url: '/api/Auth/login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ email: correo, userPassword: clave }),
                success: function (response) {
                    if (response.status) {
                        localStorage.setItem('token', response.value.token); // **Save the token**
                        window.location.href = '/Home/Index'; // **Redirect to the users view**
                    } else {
                        $("#mensajeError").html('<div class="alert alert-danger" role="alert">' + response.message + '</div>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
</body>
</html>
